body {
  background-color: black;
}

main {
  background-color: black;
  padding: 2rem;
  font-family: Arial-sans, sans-serif;
}

article{
  max-width: 450px;
  margin: auto;
  padding: 0.5rem;
  background-color: white;
}

header, .post-interaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header-info {
  display: flex;
  place-items: center;
}

img {
  width: 100%;
  height: auto;
}

.post-interaction {
  margin: 0.5rem;
}

.parrafos {
  margin: 0.5rem;
}
