body {
  background-color: black;
}

main {
  background-color: black;
  padding: 2rem;
  font-family: Arial-sans, sans-serif;
}

article{
  max-width: 450px;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
}

header, .post-interaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

header {
  padding: 1rem;
}

.header-info {
  display: flex;
  place-items: center;
}

.header-text p {
  margin: 0px;
}

.icono {
  font-size: 2rem;
}

figure {
  margin: 0px;
}

img {
  width: 100%;
}

.post-interaction {
  margin: 1.5rem;
}

.footer-text {
  padding: 1.5rem;
  padding-top: 0;
}